#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
.leftnav .leftnav-header {
  background-color: #fff;
  padding: 0;
  height: 50px;
  line-height: 50px;
}
.leftnav .leftnav-content {
  margin: 12px 12px;
  padding: 12px;
  background: #fff;
  min-height: 280px;
}
.leftnav .personal-center {
  float: right;
  margin-right: 8px;
}
.leftnav .personal-center .ant-btn {
  border: 0;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 106px;
}
.leftnav .trigger {
  cursor: pointer;
  padding-left: 12px;
  font-size: 16px;
}
.leftnav .trigger:hover {
  color: #40a9ff;
}
.leftnav .admin {
  margin: 8px 0;
  display: flex;
  justify-content: space-around;
  color: #40a9ff;
}
.leftnav .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}
.leftnav .ant-menu-inline .ant-menu-item {
  margin-top: 0;
  font-size: 14px;
}
