.dashboard {
  // height: 100%;
  .ant-tabs-bar {
    margin: 0;
    border: 0;
  }
  .ant-tabs {
    overflow: hidden;
    padding: 0 1px 1px;
  }
  .ant-card-body {
    padding-top: 0;
  }
  .ant-card-grid {
    display: flex;
    justify-content: space-around;
    flex: 1;
  }
  .ant-card-grid:not(:last-child) {
    margin-right: 40px;
  }
  .dashboard-icon {
    font-size: 54px;
  }
  .anticon-user-add {
    color: rgb(100, 234, 145);
  }
  .anticon-pay-circle-o {
    color: rgb(143, 201, 251);
  }
  .anticon-usergroup-add {
    color: rgb(216, 151, 235);
  }
  .dashboard-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .number {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .ant-tabs-tabpane {
    display: flex;
  }
  .dashboard-charts {
    margin-top: 20px;
    width: 100%;
    height: 400px;
  }
}
