.ant-list-item-content-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.message-text {
  color: #1890ff;
}

.message-time {
  margin-right: 80px;
}

.message-footbutton {
  margin-top: 14px;
}
