// TODO:修改滚动条的样式
// 头部搜索样式
.search-header {
  padding: 10px 12px;
  opacity: 0.8;
  background-color: rgba(77, 169, 236, 0.04);
  border: 1px solid #E8E8E8;
  border-radius: 2px;
  margin-bottom: 10px;
}

// 重置按钮
.btn-reset {
  margin-left: 10px;
}

// 滚动条样式
.scroll {}
