.tablelist .ant-table-thead > tr > th,
.tablelist .ant-table-tbody > tr > td {
  padding: 8px 8px;
  text-align: center;
}
.tablelist .ant-table-thead > tr > th {
  font-weight: 500;
}
.tablelist .ant-pagination {
  position: absolute;
  right: 24px;
  bottom: 64px;
}
